<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="justify-content-around p-4"> 
        <div class="row">
        <% products.forEach(function(product){ %>
          <div class="col-lg-4 col-lg-offset-4">
            <div class="card" style="width: 18rem">
              <img class="card-img-top" src="<%= product.product_image_url %>" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title"><%= product.product %></h5>
                <p class="card-text">Price: <%= product.sale_price %></p>
                <a href="/delete/<%= product.ProductID %>" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>       
        <% }); %>
      </div>
      </div>
    </main>
  </body>
</html>
